.col-md-12{
background: #fff;
padding: 3%;
border-top-right-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
}
.contact-form label{
font-weight:600;
}
.contact-form .btn {
background: #25274d !important;
color: #fff !important;
font-weight: 600 !important;
width: 25% !important;
border-radius: none;
}
.contact-form button:focus{
box-shadow:none  !important;
border-radius: none;
}
