<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/c.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <!-- <h1> Welcome {{ user }} </h1> -->
  <div class="container" style="text-align: center;">
    <br>
    <h2 style="font-family: Roman">Choose any one :</h2><br><br>
    <div class="btn-grp" role="group" name="choice">
    <button type="submit" name="0" class="btn btn-primary" onclick="window.location.href = '{{ url_for('jtopic') }}'">Journalism</button><br><br>
    <button type="submit" name="1" class="btn btn-success" onclick="window.location.href = '{{ url_for('jtopic') }}'">Creative Writing</button><br><br>
    <button type="submit" name="2" class="btn btn-info" onclick="window.location.href = '{{ url_for('jtopic') }}'">Book Review</button><br><br>
    <button type="submit" name="3" class="btn btn-warning" onclick="window.location.href = '{{ url_for('jtopic') }}'">Movie Review</button><br><br>
    <button type="submit" name="4" class="btn btn-danger" onclick="window.location.href = '{{ url_for('jtopic') }}'">Diary Entry</button><br><br><br><br>
    </div>
  {% endblock %}
</body>
</html>
