<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/journ.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Journalism</title>
</head>
<body>
    {% extends "template.html" %}
  {% block content %}
  <div class="container contact">
<div class="row">
  <div class="col-md-12">
    <div class="contact-form">
      <form action="/journalism" method="POST">
      <div class="form-group">
        <label class="control-label col-md-2" for="name">Name:</label>
        <div class="col-md-10">
        <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2" for="email">Email:</label>
        <div class="col-md-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2" for="college">College:</label>
        <div class="col-md-10">
        <input type="text" class="form-control" id="college" placeholder="Enter college name" name="college"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2" for="option">Topic:</label>
        <div class="col-md-10">
        <input type="text" class="form-control" id="option" placeholder="Given Essay topic" name="option"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-2" for="essay">Entry:</label>
        <div class="col-md-10">
          <textarea class="form-control" style="min-width: 100%" rows="7" style="overflow:scroll;" placeholder="Write you entry here" name="essay"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-default" style="background-color:green/">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
  {% endblock %}
</body>
</html>
