<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/L.css') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <div class="login-form">
    <form action="/templates/home.html" method="post">
		<div class="avatar">
			<img src="https://user-images.githubusercontent.com/46837462/76748125-39c71c80-67a0-11ea-8775-803d8510da54.png" alt="LOGIN">
		</div>
        <h2 class="text-center">Sign Up</h2>
        <div class="form-group">
        	<input type="text" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
                <input type="password" class="form-control" name="rpassword" placeholder="Re-enter Password" required="required">
            </div>
          <a class="btn" href="{{ url_for('home') }}" style="text-decoration: none;">Sign up!</a>
    </form>
      <a class ="login-form btn" style="background-color:white;color:black;text-decoration: none;" href="{{ url_for('home') }}">Go Back</a>
    </div>
    {% endblock %}
</body>
</html>
