<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/ca.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <div class="container" style="text-align: center;">
    <br>
    <h3 style="font-family: Optima">Submission successful!</h3><br>
      <button type="button" class="btn btn-warning" style="width: 30%;" onclick="window.location.href = '{{ url_for('categories') }}'">Home</button>
      <br><br><br><br>
  </div>
  <center>
  {% endblock %}
  </center>
</body>
</html>
